<html ng-app>
    <head>
        <title>Sequence Alignment</title>
        <link href="index.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">               </script>
    </head>
    <body class="seqalign">
        <header>
            <div class="nav">
                <ul>
                    <li class="home"><a href="index.html">Home</a></li>
                    <li class="about"><a href="about.html">About</a></li>
                    <li class="demo"><a class="active" href="demo.html">Demo</a></li>
                    <li class="tests"><a href="tests.html">Tests</a></li>
                    <li class="authors"><a href="authors.html">Authors</a></li>
                </ul>
            </div>
        </header>
        <h1>
            Demonstration
        </h1>
        <h2>
            Algorithm: Needleman-Wunsch
        </h2>
        <label>First sequence</label>
        <input type="text" ng-model="firstSeq" placeholder="Enter first sequence here">
        <br><br><br>
        <label>Second sequence</label>
        <input type="text" ng-model="secondSeq" placeholder="Enter second sequence here">
    </body>
</html>
